<settings>
	<servers>
		<server>
			<id>agama-agama</id>
			<username>aws</username>
			<password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>default</id>
			<repositories>
				<repository>
					<id>agama-agama</id>
					<url>https://agama-270167558056.d.codeartifact.us-east-1.amazonaws.com/maven/agama/
					</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>default</activeProfile>
	</activeProfiles>
</settings>